html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
}

#actions {
  width: 30vw;
  overflow-y: auto;
  padding: 16px
}

#actions button {
  margin: 4px;
}

.pdf-container {
  width: 70vw;
  height: 90vh;
  padding: 12px;
  background-color: #eee;
}

.pdf-container iframe {
  border: none;
  width: 100%;
  height: 100%;
}